* {
  margin: 0;
  padding: 10;
  color: inherit;
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

b {
  padding: 0
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  overflow: scroll;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 5px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

form {
  display: block;
}

label{
  display: block;
}
input {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

main {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}


